@import "tailwindcss";

@theme inline {
  --font-playfair: var(--playfair);
  --font-dm: var(--dm-sans);
  --color-gold: #C9A84C;
  --color-cream: #F5F0E8;
}

body {
  background: #000000;
  color: #F5F0E8;
}
